In [67]:
import mysql.connector as connector
try:
    connection = connector.connect(
        user = 'root',
        password = 'server@1234',
    )
    print("connection Succesful with server")
except connector.Error as er:
    print("error ", er)
    
cursor = connection.cursor()
print("cursor formed")

connection Succesful with server
cursor formed

In [68]:
cursor.execute("""use litlle_lemon""")
print("connected databse is ", connection.database)
print("existing tables are :")
cursor.execute("""show tables;""")
for tble in cursor:
    print(tble)

connected databse is  litlle_lemon
existing tables are :
('bookings',)
('menuitems',)
('menus',)
('orders',)

In [6]:
w3_task_1 = """
Select 
BookingID as ID,concat(GuestFirstName," " ,GuestLastName) as GuestFullName
from bookings;
"""

In [9]:
cursor.execute(w3_task_1)
print(cursor.column_names)
for row in cursor:
    print(row)

('ID', 'GuestFullName')
(1, 'Anna Iversen')
(2, 'Joakim Iversen')
(3, 'Vanessa McCarthy')
(4, 'Marcos Romero')
(5, 'Hiroki Yamane')
(6, 'Diana Pinto')

In [10]:
w3_task_2 = """
select count(BookingID) as TotalBooking, sum(BillAmount) as TotalSales, AVG(BillAmount) as AverageSale
from orders;
"""

In [12]:
cursor.execute(w3_task_2)
print("Todays Statistics")
for row in cursor:
    print("total bookings: ",row[0])
    print("Total Sales: ",row[1])
    print("Average Sales: ",row[2])

Todays Statistics
total bookings:  5
Total Sales:  243
Average Sales:  48.6000

In [13]:
w3_task_3 = """
select TableNo,count(BookingID) as n_booking
from bookings
group by TableNo
order by 2 Desc;
"""

In [14]:
cursor.execute(w3_task_3)
print(cursor.column_names)
for row in cursor:
    print(row)

('TableNo', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(10, 1)

In [15]:
w3_task_4 = """
Select BookingID,concat(GuestFirstName,GuestLastName) as Guest_Name ,
case
	when BookingSlot between '15:00:00' and '16:00:00' then 'late Afternoon'
    when BookingSlot between '17:00:00' and '18:00:00' then 'Evening'
    when BookingSlot between '19:00:00' and '20:00:00' then 'Night'
end
as arrivalslot
from bookings;
"""

In [17]:
cursor.execute(w3_task_4)
print(cursor.column_names)
for row in cursor:
    print(row)

('BookingID', 'Guest_Name', 'arrivalslot')
(1, 'AnnaIversen', 'Night')
(2, 'JoakimIversen', 'Night')
(3, 'VanessaMcCarthy', 'late Afternoon')
(4, 'MarcosRomero', 'Evening')
(5, 'HirokiYamane', None)
(6, 'DianaPinto', 'Night')

# Date Time Function using python

In [26]:
w3_s1_task_1 = """
select hour(BookingSlot),count(BookingID)
from bookings
group by BookingSlot
order by BookingSlot;
"""

In [41]:
cursor.execute(w3_s1_task_1)
for rows in cursor:
    hour = rows[0]
    booking = str(rows[1])
    print('Hour: {} <<>> {} Booking/s '.format(hour,booking))

Hour: 15 <<>> 1 Booking/s
Hour: 17 <<>> 1 Booking/s
Hour: 18 <<>> 1 Booking/s
Hour: 19 <<>> 2 Booking/s
Hour: 20 <<>> 1 Booking/s

In [42]:
w3_s1_task_2 = """
select TableNo,concat(GuestFirstName," ",GuestLastName) as Guest_Name,BookingSlot
from bookings 
order by BookingSlot;
"""

In [43]:
import datetime as dt
cursor.execute(w3_s1_task_2)
print("The guests and their booking slots are: ")
hours = cursor.fetchall()

The guests and their booking slots are:

In [63]:
for rows in hours:
    h = str(rows[2])
    tt1 = datetime.strptime(h,"%H:%M:%S")
    hour1 = tt1.hour
    minutes = tt1.minute
    tableno = rows[0]
    name = rows [1]
    #h2 = dt.time.hour(h)
    print("[Table no:] {} >> {} is expected to arrive at: {} hrs and {} mins".format(tableno,name,hour1,minutes))

[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 10 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

In [73]:
update_time = """
UPDATE Bookings 
SET BookingSlot=ADDTIME(BookingSlot,"1:00:00") 
WHERE BookingID=2;"""
cursor.execute(update_time)
connection.commit()

In [74]:
w3_s1_task_3 = """
select BookingID,TableNo,BookingSlot
from bookings
where BookingID =2 and TableNo =12
;
"""
cursor.execute(w3_s1_task_3)

In [70]:
result = cursor.fetchall()

In [71]:
print("Booking time change alert")
for rows in result:
    print('booking id : ',rows[0])
    print('Table no : ',rows[1])
    print('Booking Slot : ',rows[2])
    btime = rows[2]
    newtime = btime + dt.timedelta(hours=1)
    print('new arrival time ', newtime)

Booking time change alert
booking id :  2
Table no :  12
Booking Slot :  19:00:00
new arrival time  20:00:00

In [75]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

Connection is already closed