In [5]:
import mysql.connector as connector
try:
    connection = connector.connect(
        user = 'root',
        password = 'server@1234',
    )
    print("connection Succesful with server")
except connector.Error as er:
    print("error ", er)
    
cursor = connection.cursor()
print("cursor formed")

connection Succesful with server
cursor formed

In [6]:
cursor.execute("""use litlle_lemon""")
print("connected databse is ", connection.database)
print("existing tables are :")
cursor.execute("""show tables;""")
for tble in cursor:
    print(tble)

connected databse is  litlle_lemon
existing tables are :
('bookings',)
('menuitems',)
('menus',)
('orders',)

In [10]:
join_query = """
select mi.Name as item_Name, mi.Type as item_type, mi.Price as price,m.Cuisine as cuisine 
from MenuItems mi inner join Menus m on mi.ItemID = m.ItemID

"""

In [11]:
cursor.execute(join_query)

In [12]:

col_name = cursor.column_names
print(col_name)
for rec in cursor:
    print(rec)

('item_Name', 'item_type', 'price', 'cuisine')
('Olives', 'Starters', 5, 'Greek')
('Greek salad', 'Main Courses', 15, 'Greek')
('Greek yoghurt', 'Desserts', 7, 'Greek')
('Athens White wine', 'Drinks', 25, 'Greek')
('Minestrone', 'Starters', 8, 'Italian')
('Pizza', 'Main Courses', 15, 'Italian')
('Cheesecake', 'Desserts', 4, 'Italian')
('Turkish Coffee', 'Drinks', 10, 'Italian')
('Falafel', 'Starters', 7, 'Turkish')
('Ice cream', 'Desserts', 6, 'Turkish')
('Turkish Coffee', 'Drinks', 10, 'Turkish')
('Kabasa', 'Main Courses', 17, 'Turkish')

In [13]:
join_query2 = """
select mi.Name as item_Name, mi.Type as item_type, mi.Price as price,m.Cuisine as cuisine 
from MenuItems mi left join Menus m on mi.ItemID = m.ItemID
where m.Cuisine is null
"""

In [14]:
cursor.execute(join_query2)
col_name = cursor.column_names
print(col_name)
for rec in cursor:
    print(rec)

('item_Name', 'item_type', 'price', 'cuisine')
('Flatbread', 'Starters', 5, None)
('Tomato bread', 'Starters', 8, None)
('Hummus', 'Starters', 5, None)
('Bean soup', 'Main Courses', 12, None)
('Corfu Red Wine', 'Drinks', 30, None)

In [15]:
task_3 = """
select b.BookingID as booking, b.TableNo as table_no, b.GuestFirstName as guest_name,o.BillAmount as bill_amount
from Bookings b inner join Orders o on b.BookingID = o.BookingID
"""

In [16]:
cursor.execute(task_3)
col_name = cursor.column_names
print(col_name)
for rec in cursor:
    print(rec)

('booking', 'table_no', 'guest_name', 'bill_amount')
(1, 12, 'Anna', 86)
(2, 12, 'Joakim', 37)
(3, 19, 'Vanessa', 37)
(4, 15, 'Marcos', 40)
(5, 5, 'Hiroki', 43)