In [14]:
import mysql.connector as connector

In [15]:
try:
    connection = connector.connect(
        user = "root",
        password = "*******",
    )
except connector.Error as er:
    print("error code :", er.errno)
    print("error msg : ", er.msg)

In [16]:
cursor = connection.cursor()

In [32]:
show_db_query = """SHOW DATABASES;"""

In [17]:

use_db_query = """USE litlle_lemon;"""
create_db_query = """CREATE DATABASE litlle_lemon;"""
create_table_query = """
    create table MenuItems(
    ItemID INT AUTO_INCREMENT,
    NAME VARCHAR(500),
    TYPE VARCHAR(50),
    PRICE INT,
    PRIMARY KEY(ItemID)    
    );
"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [37]:
print(create_orders_table)

CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);

In [19]:
tdata = cursor.execute("show tables;")

In [20]:
print(tdata)

None

In [8]:
for tables in cursor:
    print(tables)

('menuitems',)
('menus',)
('orders',)

In [11]:
tdata = cursor.execute("select * from menus")

In [12]:
t2data = cursor.execute("select * from orders")

None

In [41]:
cursor.execute(create_db_query)

In [18]:
cursor.execute(use_db_query)

In [51]:
cursor.execute(create_table_query)

In [52]:
cursor.execute(create_menu_table)

In [53]:
cursor.execute(Create_booking_table)

In [54]:
cursor.execute(create_orders_table)

In [55]:
cursor.close()

True

In [56]:
exit()

In [ ]:
clo

In [9]:
cursor.execute(select * from Orders)

SyntaxError: invalid syntax (133686754.py, line 1)